body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#ChatFrame {
  overflow-y: auto;
  transform: scale(1, -1);
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  width: 70%;
}

#ChatItems {
  transform: scale(1, -1);
  overflow-wrap: break-word;
}

#ChatItems > * {
  animation: yellowfade 1s;
  transition: background-color 1s linear;
}

#ChatNicklist {
  width: calc(30% - 10px);
  height: calc(100% - 2px);
  border: 1px solid lightgrey;
  float: right;
}

.user {
    /* display: none; */
    animation: yellowfade 1s;
    transition: background-color 1s linear;
}
.user:hover {
  background-color: yellow;
}
/*
  TODO: Report Chromium issue? (working in FF, Not so in Edge/Chrome)
  NOTE: Only doesn't work in our LiveHTML pages.
  Show only last 100 items - might reduce memory usage?
  - All of a sudden, chrome started displaying nothing (0 lines) because of this?!
*/
/* #ChatItems > *:not(:nth-last-child(-n+100)) {
  display: none;
} */



@keyframes yellowfade {
  from {
    background-color: violet;
  }
  to {
    background-color: transparent;
  }
}