body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#ChatFrame {
  overflow-y: auto;
  transform: scale(1, -1);
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  width: 100%;
}

#ChatItems {
  transform: scale(1, -1);
  overflow-wrap: break-word;
}

#ChatItems > * {
  /* display: none; */
  animation: yellowfade 1s;
  transition: background-color 1s linear;
}
/* Last 100 items. TODO: Troubleshoot Chrom issue? (working in FF) */
/* #ChatItems > *:nth-last-child(-n+3) {
  display: block;
} */



@keyframes yellowfade {
  from {
    background-color: violet;
  }
  to {
    background-color: transparent;
  }
}